section {
	padding-bottom: 55px;
	border-bottom: 2px solid #11aeff;
	background: #fff;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none
}

span.error {
	color: #C00;
	padding: 0 6px;
}

.sectioninner {
	border: 1px solid #1db2ff;
	padding-bottom: 65px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.title {
	font-size: 18px;
	color: #fff;
	padding: 8px 16px;
	background: linear-gradient(#11aeff, #10aafa, #0f96dc);
}

.registerform {
	margin-top: 36px;
}

.stars {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 5px;
}

.formli {
	margin-top: 14px;
}

.registerform label {
	display: inline-block;
	font-size: 18px;
	font-weight: initial;
	color: #292929;
	width: 110px;
	text-align: right;
}

.registerform input[type="text"], .registerform input[type="password"], .registerform input[type="email"]
	{
	padding: 0 5px;
	border: 1px solid #d2d2d2;
	background: #faffbd;
	width: 300px;
	height: 40px;
	font-size: 18px;
	color: #757575;
}

.filetitle {
	display: inline-block;
	text-align: left;
}

.stars1 {
	vertical-align: super;
}

.codeimg {
	display: inline-block;
	border: 1px solid #d2d2d2;
}

.codeimg img {
	vertical-align: top;
}

.codetitle {
	width: 130px !important;
	margin-left: -20px;
}

.codeimg input[type=text] {
	border: none;
	width: 213px
}

.formsubmit {
	padding-left: 65px;
	margin-top: 95px;
}

.formsubmit input[type=submit] {
	width: 155px;
	height: 45px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 16px;
	margin: 0 20px;
	color: #292929;
}

.formsubmit input[type=button] {
	width: 155px;
	height: 45px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 16px;
	margin: 0 20px;
	color: #292929;
}

.onactive {
	background: #ff1e00;
	color: #fff !important;
}

.remind {
	padding: 5px 0 5px 115px;
	color: #ff4e00;
	font-size: 14px;
}